<template>
  <div>
    <v-card outlined>
      <v-card-title>
        <div class="flex text-h4 font-weight-thin text-center pt-6">
          {{ $t('admin.domainManager.title') }}
        </div>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-data-table :headers="headers"
                        :items-per-page="5"
                        :items="domains">
            <template v-slot:top>
              <v-dialog v-model="dialog" max-width="425px">
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" dark class="mb-2" v-on="on">
                    {{ $t('admin.domainManager.newDomain') }}
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="12">
                          <v-text-field v-model="editedDomain.name" :label="$t('admin.domainManager.name')" :errorMessages="nameErrors"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="12">
                          <v-text-field v-model="editedDomain.key" :label="$t('admin.domainManager.key')" :errorMessages="keyErrors"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="12">
                          <v-text-field v-model="editedDomain.url" :label="$t('admin.domainManager.url')" :errorMessages="urlErrors"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="12" v-if="editedDomain.imageURL">
                          <p>{{ $t('admin.domainManager.image') }}</p>
                          <img :src="getFullImageUrl(editedDomain.imageURL)" alt="Domain image">
                        </v-col>
                        <v-col cols="12" sm="6" md="12" v-if="editedDomain.notificationToken">
                          <v-text-field :value="editedDomain.notificationToken" :label="$t('admin.domainManager.notificationToken')" disabled></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="12">
                          <p>{{ $t('admin.domainManager.userAccess') }}</p>
                          <v-checkbox v-model="editedDomain.userAccess" :value="user.uuid" v-for="user in users" :key="user.uuid" :label="user.firstname + ' ' + user.lastname" hide-details></v-checkbox>
                        </v-col>
                        <v-btn color="primary" text @click="setNotificationToken()" v-if="!editedDomain.notificationToken">
                          {{ $t('admin.domainManager.generateNotificationToken') }}
                        </v-btn>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn color="blue darken-1" text @click="close">
                      {{ $t('common.cancel') }}
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="save">
                      {{ $t('common.save') }}
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            <template v-slot:item.edit="{ item }">
              <v-icon small class="mr-2" @click="editDomain(item)">
                mdi-pencil
              </v-icon>
              <v-icon small class="mr-2" @click="deleteDomain(item)">
                mdi-delete
              </v-icon>
              <v-icon small class="mr-2 ml-2" @click="$refs[`domainImageUpload-${item.id}`].click()">
                mdi-image-plus-outline
              </v-icon>
              <input v-show="false" :ref="`domainImageUpload-${item.id}`" type="file" accept="image/jpeg, image/png" @change="e => uploadImage(item, e)">
              <v-icon small @click="removeImage(item)" v-if="item.imageURL">
                mdi-image-off-outline
              </v-icon>
            </template>
          </v-data-table>
        </v-container>
      </v-card-text>
    </v-card>
    <v-snackbar v-model="showMessage" :timeout="5000" top>
      {{ message }}
      <v-btn dark text @click="showMessage = false">
        {{ $t('common.close') }}
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import http from "../../services/http";
  import utils from '@/utils';

  export default {
    name: "DomainManager",
    computed: {
      formTitle() {
        return this.editedDomain.id ? this.$t('admin.domainManager.editDomain') : this.$t('admin.domainManager.newDomain')
      },
      ...mapGetters(['domains', 'users'])
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
    },
    data() {
      return {
        headers: [
          { text: this.$t('admin.domainManager.name'), value: 'name' },
          { text: this.$t('admin.domainManager.url'), value: 'url'},
          { text: this.$t('common.edit'), value: 'edit', sortable: false}
        ],
        showMessage: false,
        message: null,
        editedDomain: {
          name: '',
          key: '',
          url: '',
          notificationToken: null,
          userAccess: []
        },
        dialog: false,
        nameErrors: [],
        urlErrors: [],
        keyErrors: []
      }
    },
    methods: {
      editDomain(domain) {
        this.editedDomain = Object.assign({}, domain);
        this.dialog = true;
      },
      deleteDomain(domain) {
        // Delete
        if (confirm(this.$t('admin.domainManager.messages.confirm', {name: domain.name}))) {
          http.axios.delete(`/domains/${domain.id}`).then(() => {
            this.$store.commit('setDomains', this.domains.filter(d => d.id !== domain.id));
          });
        }
      },
      getFullImageUrl: utils.getFullImageUrl,
      uploadImage(domain, e) {
        const file = e.target.files[0];
        if (file) {
          const data = new FormData();
          data.append("image", file, file.name);
          http.axios.post(`/domains/${domain.id}/image`, data)
            .then(response => {
              domain.imageURL = response.data.imageURL;
              this.message = this.$t('common.messages.imageUploaded');
              this.showMessage = true;
            }).catch(error => {
              if (error.response.status === 413) {
                this.message = this.$t('common.errors.fileTooLarge');
              } else if (error.response.status === 400) {
                this.message = this.$t('common.errors.fileNotAnImage');
              } else {
                this.message = this.$t('common.errors.unknown');
              }
              this.showMessage = true;
          });
        } else {
          this.message = this.$t('common.errors.noFile');
          this.showMessage = true;
        }
      },
      removeImage(domain) {
        http.axios.delete(`/domains/${domain.id}/image`)
          .then(() => {
            domain.imageURL = null;
            this.message = this.$t('common.messages.imageRemoved');
            this.showMessage = true;
          }).catch(() => {
            this.message = this.$t('common.errors.unknown');
            this.showMessage = true;
        });
      },
      close() {
        this.dialog = false;
        this.resetErrors();
        setTimeout(() => {
          this.editedDomain = {
            name: '',
            key: '',
            url: '',
            userAccess: []
          };
        }, 100);
      },
      create() {
        http.axios.post('/domains', this.editedDomain).then(response => {
          let domains = this.domains.slice();
          domains.push(response.data);
          this.$store.commit('setDomains', domains);
          this.close();
        }).catch(() => {
          this.message = this.$t('admin.domainManager.messages.keyInUse');
          this.showMessage = true;
        });
      },
      save() {
        if (this.validate()) {
          if (!this.editedDomain.id) {
            this.create();
          } else {
            http.axios.put(`/domains/${this.editedDomain.id}`, this.editedDomain).then(() => {
              this.$store.dispatch('fetchDomains');
              this.close();
            }).catch(() => {
              this.message = this.$t('admin.domainManager.messages.keyInUse');
              this.showMessage = true;
            });
          }
        }
      },
      validate() {
        this.resetErrors();
        let valid = true;
        if (this.editedDomain.name === '') {
          this.nameErrors.push(this.$t('common.errors.empty', {field: this.$t('admin.domainManager.name')}));
          valid = false;
        }
        if (this.editedDomain.url === '') {
          this.urlErrors.push(this.$t('common.errors.empty', {field: this.$t('admin.domainManager.url')}));
          valid = false;
        }
        if (this.editedDomain.key === '') {
          this.keyErrors.push(this.$t('common.error.empty', {field: this.$t('admin.domainManager.key')}));
        }
        return valid;
      },
      resetErrors() {
        this.nameErrors = [];
        this.urlErrors = [];
      },
      generateNotificationToken() {
        let result = '';
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const length = 16;
        const charactersLength = characters.length;

        for (let i = 0; i < length; i++) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
      },
      setNotificationToken() {
        this.$set(this.editedDomain, 'notificationToken', this.generateNotificationToken());
      }
    }
  }
</script>

<style scoped>

</style>
