<template>
  <div>
    <v-card outlined>
      <v-card-title>
        <div class="flex text-h4 font-weight-thin text-center pt-6">
          {{ $t('admin.inviteUser.title') }}
        </div>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-text-field type="email" v-model="email" :label="$t('common.email')" required
                        v-on:keyup.enter="generateToken()" :errorMessages="emailErrors"/>
          <v-select :items="roles" :label="$t('common.role')" item-text="name" item-value="id" v-model="role" :errorMessages="roleErrors"></v-select>
          <v-btn @click="generateToken" color="primary" block :loading="loading" :disabled="loading">
            {{ $t('admin.inviteUser.invite') }}
          </v-btn>
        </v-container>
      </v-card-text>
    </v-card>
    <v-snackbar v-model="showMessage" :timeout="5000" top>
      {{ message }}
      <v-btn dark text @click="showMessage = false">
        {{ $t('common.close') }}
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  import http from "../../services/http";
  import {mapGetters} from "vuex";

  export default {
    name: "InviteUser",
    computed: {
      ...mapGetters(['roles'])
    },
    data() {
      return {
        email: '',
        emailErrors: [],
        role: null,
        roleErrors: [],
        showMessage: false,
        message: null,
        loading: false
      }
    },
    methods: {
      generateToken() {
        this.emailErrors = [];
        if (this.validate()) {
          this.loading = true;
          http.axios.post('/invite_tokens', {
            email: this.email,
            roleID: this.role
          }).then(() => {
            this.loading = false;
            this.message = this.$t('admin.inviteUser.messages.emailSent', {email: this.email});
            this.email = '';
            this.showMessage = true;
          }).catch(() => {
            this.loading = false;
            this.message = this.$t('common.errors.unknown');
            this.showMessage = true;
          });
        }
      },
      validate() {
        this.resetErrors();
        let valid = true;

        if (this.email === '') {
          this.emailErrors.push(this.$t('common.errors.empty', {field: this.$t('common.email')}));
          valid = false;
        }

        if (this.role === null) {
          this.roleErrors.push(this.$t('common.errors.empty', {field: this.$t('common.role')}));
          valid = false;
        }
        return valid;
      },
      resetErrors() {
        this.emailErrors = [];
        this.roleErrors = [];
      }
    }
  }
</script>

<style scoped>

</style>