<template>
  <div>
    <v-card outlined>
      <v-card-title>
        <div class="flex text-h4 font-weight-thin text-center pt-6">
          {{ $t('admin.userManager.title') }}
        </div>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-data-table :headers="headers"
                        :items-per-page="5"
                        :items="users">
            <template v-slot:top>
              <v-dialog v-model="dialog" max-width="425px">
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" dark class="mb-2" v-on="on">
                    {{ $t('admin.userManager.newUser') }}
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">
                      {{ formTitle }}
                    </span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="12">
                          <v-text-field v-model="editedUser.firstname" :label="$t('common.firstname')" :errorMessages="errors.firstname"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="12">
                          <v-text-field v-model="editedUser.lastname" :label="$t('common.lastname')" :errorMessages="errors.lastname"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="12">
                          <v-text-field v-model="editedUser.email" :label="$t('common.email')" :errorMessages="errors.email"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="12">
                          <v-select :items="roles" :label="$t('common.role')" item-text="name" item-value="id" v-model="editedUser.role" :errorMessages="errors.role" return-object></v-select>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn color="blue darken-1" text @click="close">
                      {{ $t('common.cancel') }}
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="save">
                      {{ $t('common.save') }}
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            <template v-slot:item.edit="{ item }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-icon small class="mr-2" @click="editUser(item)" v-on="on" :disabled="item.uuid === user.uuid">
                    mdi-pencil
                  </v-icon>
                </template>
                <span>{{ $t('common.edit') }}</span>
              </v-tooltip>
              <v-tooltip bottom v-if="item.blockedAt">
                <template v-slot:activator="{ on }">
                  <v-icon small class="mr-2" @click="unblockUser(item)" v-on="on" :disabled="item.uuid === user.uuid">
                    mdi-lock-open
                  </v-icon>
                </template>
                <span>{{ $t('admin.userManager.unblock') }}</span>
              </v-tooltip>
              <v-tooltip bottom v-else>
                <template v-slot:activator="{ on }">
                  <v-icon small class="mr-2" @click="blockUser(item)" v-on="on" :disabled="item.uuid === user.uuid">
                    mdi-cancel
                  </v-icon>
                </template>
                <span>{{ $t('admin.userManager.block') }}</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-icon small class="mr-2" @click="deleteUser(item)" v-on="on" :disabled="item.uuid === user.uuid">
                    mdi-delete
                  </v-icon>
                </template>
                <span>{{ $t('admin.userManager.delete') }}</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-container>
      </v-card-text>
    </v-card>
    <v-snackbar v-model="showMessage" :timeout="5000" top>
      {{ message }}
      <v-btn dark text @click="showMessage = false">
        {{ $t('common.close') }}
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import http from "../../services/http";

  export default {
    name: "UserManager",
    computed: {
      inCreateMode() {
        return !this.editedUser.uuid;
      },
      formTitle() {
        return this.inCreateMode ? this.$t('admin.userManager.newUser') : this.$t('admin.userManager.editUser');
      },
      ...mapGetters(['users', 'roles', 'user'])
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
    },
    data() {
      return {
        headers: [
          { text: this.$t('common.firstname'), value: 'firstname' },
          { text: this.$t('common.lastname'), value: 'lastname' },
          { text: this.$t('common.email'), value: 'email' },
          { text: this.$t('common.role'), value: 'role.name' },
          { text: this.$t('common.edit'), value: 'edit', sortable: false }
        ],
        editedUser: {},
        dialog: false,
        errors: {
          firstname: [],
          lastname: [],
          email: [],
          role: []
        },
        showMessage: false,
        message: null
      }
    },
    methods: {
      editUser(user) {
        this.editedUser = Object.assign({}, user);
        this.dialog = true;
      },
      deleteUser(user) {
        // Delete
        if (confirm(this.$t('admin.userManager.messages.confirm', {firstname: user.firstname, lastname: user.lastname}))) {
          http.axios.delete(`/users/${user.uuid}`).then(() => {
            return this.$store.dispatch('fetchUsers').then(() => {
              this.message = this.$t('admin.userManager.messages.userDeleted', {firstname: user.firstname, lastname: user.lastname});
              this.showMessage = true;
              this.close();
            });
          }).catch(() => {
            this.message = this.$t('common.errors.unknown');
            this.showMessage = true;
          });
        }
      },
      blockUser(user) {
        http.axios.put(`/users/${user.uuid}/block`).then(() => {
          return this.$store.dispatch('fetchUsers');
        }).then(() => {
          this.message = this.$t('admin.userManager.messages.userBlocked', {firstname: user.firstname, lastname: user.lastname});
          this.showMessage = true;
        });
      },
      unblockUser(user) {
        http.axios.put(`/users/${user.uuid}/unblock`).then(() => {
          return this.$store.dispatch('fetchUsers');
        }).then(() => {
          this.message = this.$t('admin.userManager.messages.userUnblocked', {firstname: user.firstname, lastname: user.lastname});
          this.showMessage = true;
        });
      },
      close() {
        this.dialog = false;
        this.resetErrors();
        setTimeout(() => {
          this.editedUser = {}
        }, 100);
      },
      save() {
        if (this.validate()) {
          if (this.inCreateMode) {
            http.axios.post('/users', this.editedUser).then(() => {
              this.message = this.$t('admin.userManager.messages.userCreated', {firstname: this.editedUser.firstname, lastname: this.editedUser.lastname});
              this.showMessage = true;
              return this.$store.dispatch('fetchUsers').then(() => {
                this.close();
              });
            }).catch(() => {
              this.message = this.$t('common.errors.unknown');
              this.showMessage = true;
            });
          } else {
            http.axios.put(`/users/${this.editedUser.uuid}`, this.editedUser).then(() => {
              this.message = this.$t('admin.userManager.messages.userUpdated', {firstname: this.editedUser.firstname, lastname: this.editedUser.lastname});
              this.showMessage = true;
              return this.$store.dispatch('fetchUsers').then(() => {
                this.close();
              });
            }).catch(() => {
              this.message = this.$t('common.errors.unknown');
              this.showMessage = true;
            });
          }
        }
      },
      validate() {
        this.resetErrors();
        let valid = true;

        if (this.editedUser.firstname === '') {
          this.errors.firstname.push(this.$t('common.errors.empty', {field: this.$t('common.firstname')}));
          valid = false;
        }

        if (this.editedUser.lastname === '') {
          this.errors.lastname.push(this.$t('common.errors.empty', {field: this.$t('common.lastname')}));
          valid = false;
        }

        if (this.editedUser.email === '') {
          this.errors.email.push(this.$t('common.errors.empty', {field: this.$t('common.email')}));
          valid = false;
        }

        if (this.editedUser.role == null) {
          this.errors.role.push(this.$t('common.errors.empty', {field: this.$t('common.role')}));
          valid = false;
        }

        return valid;
      },
      resetErrors() {
        this.errors.firstname = [];
        this.errors.lastname = [];
        this.errors.email = [];
        this.errors.role = [];
      }
    },
    created() {
      this.$store.dispatch('fetchUsers');
    }
  }
</script>

<style scoped>

</style>
