<template>
  <div>
    <v-card outlined>
      <v-card-title>
        <div class="flex text-h4 font-weight-thin text-center pt-6">
          {{ $t('account.changeProfilePicture.title') }}
        </div>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row justify="center">
            <v-col cols="12" md="5" class="text-center">
              <v-avatar v-if="profilePicture" size="10rem">
                <v-img :src="profilePicture"></v-img>
              </v-avatar>
              <v-avatar color="primary" v-else size="10rem">
                <span class="white--text" style="font-size: 5rem">{{ initials }}</span>
              </v-avatar>
            </v-col>
            <v-col cols="12" md="7" class="text-center">
              <v-row>
                <v-col>
                  <v-btn color="primary" @click="$refs.inputUpload.click()" block :loading="isUploading">
                    {{ $t('account.changeProfilePicture.uploadPicture') }}
                  </v-btn>
                  <input v-show="false" ref="inputUpload" type="file" accept="image/jpeg, image/png" @change="uploadImage">
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn color="primary" outlined @click="removeImage()" block v-if="profilePicture" :loading="isRemoving">
                    {{ $t('account.changeProfilePicture.removePicture') }}
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

        </v-container>
      </v-card-text>
    </v-card>
    <v-snackbar v-model="showMessage" :timeout="5000" top>
      {{ message }}
      <v-btn dark text @click="showMessage = false">
        {{ $t('common.close') }}
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import http from "../../services/http";

  export default {
    name: "ChangeProfilePicture",
    computed: {
      ...mapGetters(['profilePicture', 'initials', 'user'])
    },
    data() {
      return {
        showMessage: false,
        message: null,
        isUploading: false,
        isRemoving: false
      }
    },
    methods: {
      removeImage() {
        this.isRemoving = true;
        http.axios.delete(`/users/${this.user.uuid}/image`)
          .then(() => {
            this.isRemoving = false;
            this.user.imageURL = null;
            this.$store.commit('setUser', this.user);
            this.message = this.$t('common.messages.imageRemoved');
            this.showMessage = true;
        }).catch(() => {
            this.isRemoving = false;
            this.message = this.$t('common.errors.unknown');
            this.showMessage = true;
        });
      },
      uploadImage(e) {
        const file = e.target.files[0];
        if (file) {
          this.isUploading = true;
          const data = new FormData();
          data.append("image", file, file.name);
          http.axios.post(`/users/${this.user.uuid}/image`, data)
            .then(response => {
              this.isUploading = false;
              this.user.imageURL = response.data.imageURL;
              this.$store.commit('setUser', this.user);
              this.message = this.$t('common.messages.imageUploaded');
              this.showMessage = true;
          }).catch(error => {
              this.isUploading = false;
              if (error.response.status === 413) {
                this.message = this.$t('common.errors.fileTooLarge');
              } else if (error.response.status === 400) {
                this.message = this.$t('common.errors.fileNotAnImage');
              } else {
                this.message = this.$t('common.errors.unknown');
              }
              this.showMessage = true;
          });
        } else {
          this.message = this.$t('common.errors.noFile');
          this.showMessage = true;
        }
      }
    }
  }
</script>

<style scoped>

</style>
