<template>
  <div>
    <v-card outlined>
      <v-card-title>
        <div class="flex text-h4 font-weight-thin text-center pt-6">
          {{ $t('account.changePassword.title') }}
        </div>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-text-field type="password" v-model="oldPassword" :label="$t('account.changePassword.oldPassword')" required
                        v-on:keyup.enter="save" :errorMessages="oldPasswordErrors"/>
          <v-text-field type="password" v-model="newPassword" :label="$t('account.changePassword.newPassword')" required
                        v-on:keyup.enter="save" :errorMessages="newPasswordErrors"/>
          <v-text-field type="password" v-model="repeatPassword" :label="$t('common.repeatPassword')" required
                        v-on:keyup.enter="save" :errorMessages="repeatPasswordErrors"/>
          <v-btn @click="save" color="primary" block>
            {{ $t('common.save') }}
          </v-btn>
        </v-container>
      </v-card-text>
    </v-card>
    <v-snackbar v-model="showMessage" :timeout="5000" top>
      {{ message }}
      <v-btn dark text @click="showMessage = false">
        {{ $t('common.close') }}
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  import http from "../../services/http";
  import {mapGetters} from "vuex";
  import utils from '@/utils';

  export default {
    name: "ChangePassword",
    data() {
      return {
        oldPassword: '',
        newPassword: '',
        repeatPassword: '',
        oldPasswordErrors: [],
        newPasswordErrors: [],
        repeatPasswordErrors: [],
        showMessage: false,
        message: null,
        loading: false
      }
    },
    computed: {
      ...mapGetters(['user'])
    },
    methods: {
      save() {
        if (this.validate()) {
          this.loading = true;
          http.axios.put(`/users/${this.user.uuid}/password`, {
            oldPassword: this.oldPassword,
            newPassword: this.newPassword
          }).then(() => {
            this.loading = false;
            this.message = this.$t('account.changePassword.messages.passwordUpdated');
            this.showMessage = true;
          }).catch(error => {
            this.loading = false;
            if (error.response.status === 409) {
              this.message = this.$t('account.changePassword.errors.wrongPassword');
            } else {
              this.message = this.$t('common.errors.unknown');
            }
            this.showMessage = true;
          });
        }
      },
      resetErrors() {
        this.oldPasswordErrors = [];
        this.newPasswordErrors = [];
        this.repeatPasswordErrors = [];
      },
      validate() {
        this.resetErrors();
        let valid = true;

        if (this.oldPassword === '') {
          this.oldPasswordErrors.push(this.$t('common.errors.empty', {field: this.$t('account.changePassword.oldPassword')}));
          valid = false;
        }

        if (this.newPassword === '') {
          this.newPasswordErrors.push(this.$t('common.errors.empty', {field: this.$t('account.changePassword.newPassword')}));
          valid = false;
        }

        if (this.repeatPassword === '') {
          this.repeatPasswordErrors.push(this.$t('common.errors.empty', {field: this.$t('common.repeatPassword')}));
          valid = false;
        }

        if (this.newPassword !== this.repeatPassword) {
          this.repeatPasswordErrors.push(this.$t('common.errors.passwordsDontMatch'));
          valid = false;
        }

        if (!utils.isValidPassword(this.newPassword)) {
          this.newPasswordErrors.push(this.$t('common.errors.invalidPassword'));
          valid = false;
        }
        return valid;
      }
    }
  }
</script>

<style scoped>

</style>
