<template>
  <div>
    <v-card outlined v-if="editedUser">
      <v-card-title>
        <div class="flex text-h4 font-weight-thin text-center pt-6">
          {{ $t('account.editUser.title') }}
        </div>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-text-field type="text" v-model="editedUser.firstname" :label="$t('common.firstname')" required
                        v-on:keyup.enter="updateUser" :errorMessages="errors.firstname"/>
          <v-text-field type="text" v-model="editedUser.lastname" :label="$t('common.lastname')" required
                        v-on:keyup.enter="updateUser" :errorMessages="errors.lastname"/>
          <v-text-field type="email" v-model="editedUser.email" :label="$t('common.email')" required
                        v-on:keyup.enter="updateUser" :errorMessages="errors.email"/>
          <v-btn @click="updateUser" color="primary" block :loading="loading" :disabled="loading">
            {{ $t('common.save') }}
          </v-btn>
        </v-container>
      </v-card-text>
    </v-card>
    <v-snackbar v-model="showMessage" :timeout="5000" top>
      {{ message }}
      <v-btn dark text @click="showMessage = false">
        {{ $t('common.close') }}
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import http from "../../services/http";

  export default {
    name: "EditUser",
    computed: {
      ...mapGetters(['user'])
    },
    data() {
      return {
        editedUser: null,
        errors: {
          firstname: [],
          lastname: [],
          email: []
        },
        showMessage: false,
        message: null,
        loading: false
      }
    },
    methods: {
      updateUser() {
        if (this.validate()) {
          this.loading = true;
          http.axios.put(`/users/${this.user.uuid}`, this.editedUser).then(response => {
            this.loading = false;
            this.$store.commit('setUser', response.data);
            this.message = this.$t('account.editUser.messages.accountUpdated');
            this.showMessage = true;
          }).catch(error => {
            this.loading = false;
            if (error.response.status === 409) {
              this.errors.email.push(this.$t('account.editUser.errors.emailAlreadyRegistered'));
            } else {
              this.message = this.$t('common.errors.unknown');
              this.showMessage = true;
            }
          });
        }
      },
      validate() {
        this.resetErrors();
        let valid = true;

        if (this.editedUser.firstname === '') {
          this.errors.firstname.push(this.$t('common.errors.empty', {field: this.$t('common.firstname')}));
          valid = false;
        }

        if (this.editedUser.lastname === '') {
          this.errors.lastname.push(this.$t('common.errors.empty', {field: this.$t('common.lastname')}));
          valid = false;
        }

        if (this.editedUser.email === '') {
          this.errors.email.push(this.$t('common.errors.empty', {field: this.$t('common.email')}));
          valid = false;
        }
        return valid;
      },
      resetErrors() {
        this.errors.firstname = [];
        this.errors.lastname = [];
        this.errors.email = [];
      }
    },
    watch: {
      user(newUser) {
        if (!this.editedUser && newUser) {
          this.editedUser = Object.assign({}, newUser);
        }
      }
    },
    created() {
      if (this.user) this.editedUser = Object.assign({}, this.user);
    }
  }
</script>

<style scoped>

</style>