<template>
  <div>
    <v-card outlined v-if="preferences">
      <v-card-title>
        <div class="flex text-h4 font-weight-thin text-center pt-6">
          {{ $t('account.preferences.title') }}
        </div>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-switch v-model="preferences.darkMode" :label="$t('account.preferences.darkMode')" @change="updatePreferences" color="primary"></v-switch>
          <v-select :items="items" :label="$t('account.preferences.defaultLanguage')" v-model="preferences.defaultLanguage" @change="updatePreferences"></v-select>
        </v-container>
      </v-card-text>
    </v-card>
    <v-snackbar v-model="showMessage" :timeout="5000" top>
      {{ message }}
      <v-btn dark text @click="showMessage = false">
        {{ $t('common.close') }}
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import http from "../../services/http";

  export default {
    name: "Preferences",
    computed: {
      items() {
        return this.locales.map(l => {
          return {
            text: this.$t('languages.' + l.locale),
            value: l.locale
          };
        });
      },
      ...mapGetters(['preferences', 'user', 'locales'])
    },
    data() {
      return {
        message: null,
        showMessage: null,
      }
    },
    methods: {
      updatePreferences() {
        http.axios.put(`/users/${this.user.uuid}/preferences`, this.preferences).then(response => {
          this.$store.commit('setPreferences', response.data);
        }).catch(() => {
          this.message = this.$t('common.errors.unknown');
          this.showMessage = true;
        });
      }
    }
  }
</script>

<style scoped>

</style>