<template>
 <v-row class="pt-6">
  <v-col cols="12" md="6">
   <edit-user/>
  </v-col>
  <v-col cols="12" md="6">
   <change-password/>
  </v-col>
  <v-col cols="12" md="6">
   <change-profile-picture/>
  </v-col>
  <v-col cols="12" md="6">
   <preferences/>
  </v-col>
 </v-row>
</template>

<script>

  import EditUser from "../components/account/EditUser";
  import ChangePassword from "../components/account/ChangePassword";
  import ChangeProfilePicture from "../components/account/ChangeProfilePicture";
  import Preferences from "../components/account/Preferences";
  export default {
    name: "Account",
   components: {Preferences, ChangeProfilePicture, ChangePassword, EditUser},
  }
</script>

<style scoped>

</style>