<template>
  <v-row class="pt-6">
    <v-col cols="12" md="4">
      <invite-user/>
    </v-col>
    <v-col cols="12" md="8">
      <domain-manager/>
    </v-col>
    <v-col cols="12" md="12">
      <user-manager/>
    </v-col>
  </v-row>
</template>

<script>
  import InviteUser from "../components/admin/InviteUser";
  import DomainManager from "../components/admin/DomainManager";
  import UserManager from "../components/admin/UserManager";
  export default {
    name: "Admin",
    components: {UserManager, DomainManager, InviteUser}
  }
</script>

<style scoped>

</style>