<template>
  <div>
    <div class="flex text-h3 font-weight-thin text-center pt-6" v-if="user">
      {{ $t('dashboard.welcome') }}, {{ user.firstname }}
    </div>

    <v-row v-if="domains" class="pt-6">
      <template v-for="domain in domains">
        <v-col cols="12" sm="6" md="4" lg="3" v-if="domain.key !== 'sso'" :key="domain.id" class="pb-6">
          <v-card outlined>
            <v-img class="white--text" height="175px" :src="domainImage(domain)">
              <v-card-title class="align-end fill-height" @click="goto(domain.url)" style="cursor: pointer;">
                {{ domain.name }}
              </v-card-title>
            </v-img>
            <v-card-text>
              {{ domain.url }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn icon @click="goto(domain.url)">
                <v-icon>mdi-arrow-right</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </template>
    </v-row>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import utils from '@/utils';

  export default {
    name: "Dashboard",
    computed: {
      ...mapGetters(['user', 'domains'])
    },
    methods: {
      goto(url) {
        window.open(url, '_blank');
      },
      domainImage(domain) {
        if (!domain.imageURL) {
          return 'https://cdn.vuetifyjs.com/images/cards/docks.jpg';
        }

        return utils.getFullImageUrl(domain.imageURL)
      }
    }
  }
</script>

<style scoped>

</style>
