<template>
  <v-layout align-center>
    <v-container>
      <v-row justify="center">
        <v-col cols="12" sm="8">
          <v-card>
            <v-container>
              <v-row>
                <v-chip class="ma-2" color="primary" @click="$router.push({name: 'login'})" outlined>
                  <v-icon>mdi-arrow-left</v-icon>
                  {{ $t('common.back') }}
                </v-chip>
              </v-row>
              <v-card-title class="text-h3">
                <div class="flex text-h4 font-weight-thin text-center pt-6">
                  {{ $t('forgotPassword.title') }}
                </div>
              </v-card-title>
              <v-card-text>
                <v-row justify="center" class="pt-4">
                  <v-col cols="12" sm="10">
                    <v-text-field type="email" v-model="email" :label="$t('common.email')" required outlined
                                  v-on:keyup.enter="requestPasswordReset" :errorMessages="error"/>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col cols="12" sm="10">
                    <v-btn depressed block color="primary" large @click="requestPasswordReset" :loading="loading" :disabled="loading">
                      {{ $t('common.send') }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-snackbar v-model="showMessage" :timeout="5000" top>
      {{ message }}
      <v-btn dark text @click="showMessage = false">
        {{ $t('common.close') }}
      </v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
  import http from "../services/http";

  export default {
    name: "ForgotPassword",
    data() {
      return {
        email: '',
        error: [],
        showMessage: false,
        message: null,
        loading: false
      }
    },
    methods: {
      requestPasswordReset() {
        this.error = [];
        if (!this.email) {
          this.error.push(this.$t('common.errors.empty', {field: this.$t('common.email')}));
          return;
        }
        this.loading = true;
        http.axios.post('/auth/request_password_reset', {email: this.email}).then(() => {
          this.loading = false;
          this.message = this.$t('forgotPassword.messages.emailSent', {email: this.email});
          this.email = '';
          this.showMessage = true;
        }).catch(() => {
          this.loading = false;
          this.message = this.$t('common.errors.unknown');
          this.showMessage = true;
        });
      },
    }
  }
</script>

<style scoped>

</style>