<template>
  <v-layout align-center>
    <v-container>
      <v-row justify="center">
        <v-col cols="12" sm="8">
          <v-card>
            <v-container>
              <v-form>
                <v-row justify="center" class="pt-12">
                  <v-col cols="12" sm="10">
                    <v-text-field type="email" v-model="email" :label="$t('common.email')" required outlined
                                  v-on:keyup.enter="login" :errorMessages="emailError" autocomplete="username"/>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col cols="12" sm="10" class="pb-0">
                    <v-text-field type="password" v-model="password" :label="$t('common.password')" required outlined
                                  v-on:keyup.enter="login" :errorMessages="passwordError" autocomplete="current-password"/>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col cols="12" sm="10" class="pt-0">
                    <v-checkbox v-model="rememberMe" :label="$t('login.rememberMe')" color="primary"></v-checkbox>
                    <router-link to="forgot-password">
                      {{ $t('login.forgotPassword') }}
                    </router-link>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col cols="12" sm="10">
                    <v-btn depressed block color="primary" large @click="login" :loading="loading" :disabled="loading">
                      {{ $t('login.login') }}
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <div class="flex text-center">
                    {{ $t('login.or') }}
                  </div>
                </v-row>
                <v-row justify="center" class="pb-12">
                  <v-col cols="12" sm="10">
                    <v-btn depressed block color="primary" large @click="gotoRegister" outlined>
                      {{ $t('login.register') }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import axios from 'axios'
import config from '@/config'
import http from "../services/http";

export default {
  name: "Home",
  data() {
    return {
      email: "",
      password: "",
      emailError: [],
      passwordError: [],
      rememberMe: false,
      loading: false
    }
  },
  methods: {
    login() {
      if (!this.validate()) return;
      this.loading = true;
      axios.post(`${config.apiUrl}/auth/login`, {
        email: this.email,
        password: this.password,
        rememberMe: this.rememberMe
      }).then(response => {
        this.loading = false;
        if (this.rememberMe) {
          localStorage.setItem("refreshToken", response.data.refreshToken);
        }
        http.afterLogin(response.data.token);
        this.redirect()
      }).catch(error => {
        this.loading = false;
        if (error.response.status === 403) {
          this.passwordError.push('');
          this.emailError.push(this.$t('login.errors.userBlocked'));
          return;
        } else if (error.response.status === 409) {
          this.passwordError.push('');
          this.emailError.push(this.$t('login.errors.userNotActivated'));
          return;
        }
        this.passwordError.push('');
        this.emailError.push(this.$t('login.errors.credentialsIncorrect'));
      });
    },
    validate() {
      this.emailError = [];
      this.passwordError = [];

      let valid = true;

      if (this.email === '') {
        this.emailError.push(this.$t('common.errors.empty', {field: this.$t('common.email')}));
        valid = false;
      }

      if (this.password === '') {
        this.passwordError.push(this.$t('common.errors.empty', {field: this.$t('common.password')}));
        valid = false;
      }

      return valid;
    },
    decodeToken(token) {
      let base64Url = token.split('.')[1];
      let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      let jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));

      return JSON.parse(jsonPayload);
    },
    isValidToken() {
      const token = http.getTokenFromCookie()
      if (!token) {
        return false;
      }

      let exp = this.decodeToken(token).exp;
      return new Date().getTime() < exp * 1000;
    },
    redirect() {
      if (this.$route.query.redirect) {
        window.location.href = this.$route.query.redirect;
      } else {
        this.$router.push('dashboard');
      }
    },
    gotoRegister() {
      this.$router.push('register');
    }
  },
  created() {
    if (this.isValidToken()) {
      this.redirect();
    }
  }
};
</script>
