<template>
  <v-layout align-center>
    <v-container>
      <v-row justify="center">
        <v-col cols="12" sm="8">
          <v-card>
            <v-card-title>
              <div class="flex text-h3 font-weight-thin mx-auto pt-8 pl-8 pr-8">
                {{ $t('logout.title' )}}
              </div>
            </v-card-title>
            <v-card-actions class="text-center">
              <v-container>
                <v-chip color="primary" outlined @click="toLogin()">
                  <v-icon left>mdi-login-variant</v-icon>
                  {{ $t('logout.login') }}
                </v-chip>
              </v-container>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
  import http from "../services/http";

  export default {
    name: "Logout.vue",
    methods: {
      toLogin() {
        this.$router.push('/');
      }
    },
    created() {
      if (!http.isLoggedIn()) {
        return this.$router.push('/');
      }

      http.logout();
    }
  }
</script>

<style scoped>

</style>