<template>
  <div class="flex text-h1 font-weight-thin mx-auto pt-12">
    {{ $t('404.title') }}
  </div>
</template>

<script>
  export default {
    name: "NotFound"
  }
</script>

<style scoped>

</style>