<template>
  <v-container>
    <v-stepper v-model="currentStep">
      <v-stepper-header>
        <v-stepper-step :complete="currentStep > 1" step="1">Invitation token</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="currentStep > 2" step="2">Personal information</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="currentStep > 3" step="3">Password</v-stepper-step>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content step="1">
          <v-form class="pb-8">
            <v-row  justify="center">
              <v-col cols="12" md="8">
                <v-text-field :label="$t('register.inviteToken')"
                              v-model="inviteToken"
                              required>
                </v-text-field>
              </v-col>
            </v-row>
          </v-form>
          <v-btn color="primary" outlined @click="previous()">
            <v-icon left>
              mdi-arrow-left
            </v-icon>
            Back
          </v-btn>
          <v-btn color="primary" @click="next()" class="ml-4">
            Continue
            <v-icon right>
              mdi-arrow-right
            </v-icon>
          </v-btn>
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-form class="pb-8">
            <v-row  justify="center">
              <v-col cols="12" md="8">
                <v-text-field :label="$t('common.firstname')"
                              v-model="firstname"
                              required>
                </v-text-field>
              </v-col>
              <v-col cols="12" md="8">
                <v-text-field :label="$t('common.lastname')"
                              v-model="lastname"
                              required>
                </v-text-field>
              </v-col>
              <v-col cols="12" md="8">
                <v-text-field :label="$t('common.email')"
                              v-model="email"
                              type="email"
                              required>
                </v-text-field>
              </v-col>
            </v-row>
          </v-form>
          <v-btn color="primary" outlined @click="previous()">
            <v-icon left>
              mdi-arrow-left
            </v-icon>
            Back
          </v-btn>
          <v-btn color="primary" @click="next()" class="ml-4">
            Continue
            <v-icon right>
              mdi-arrow-right
            </v-icon>
          </v-btn>
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-form class="pb-8">
            <v-row  justify="center">
              <v-col cols="12" md="8">
                <v-text-field :label="$t('common.password')"
                              v-model="password"
                              type="password"
                              required>
                </v-text-field>
              </v-col>
              <v-col cols="12" md="8">
                <v-text-field :label="$t('common.repeatPassword')"
                              v-model="repeatPassword"
                              type="password"
                              required>
                </v-text-field>
              </v-col>
            </v-row>
          </v-form>
          <v-btn color="primary" outlined @click="previous()">
            <v-icon left>
              mdi-arrow-left
            </v-icon>
            Back
          </v-btn>
          <v-btn color="primary" @click="next()" class="ml-4">
            Continue
            <v-icon right>
              mdi-arrow-right
            </v-icon>
          </v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>

<script>
  export default {
    name: "Registerv2",
    data() {
      return {
        currentStep: 1,
        inviteToken: '',
        firstname: '',
        lastname: '',
        email: '',
        password: '',
        repeatPassword: ''
      }
    },
    methods: {
      next() {
        this.currentStep++;
      },
      previous() {
        this.currentStep--;
      }
    }
  }
</script>

<style scoped>

</style>