<template>
  <v-container fill-height>
    <v-layout align-center>
      <v-row justify="center">
        <v-col cols="12" sm="8">
          <v-card>
            <v-container>
              <v-row>
                <v-chip class="ma-2" color="primary" @click="gotoLogin" outlined>
                  <v-icon>mdi-arrow-left</v-icon>
                  {{ $t('common.back') }}
                </v-chip>
              </v-row>
              <v-card-title class="justify-center">
                <div class="flex text-h3 font-weight-thin text-center">
                  {{ $t('register.title') }}
                </div>
              </v-card-title>
              <v-form class="pb-8">
                <v-row  justify="center">
                  <v-col cols="12" md="10">
                    <v-text-field v-for="field in fields" :key="field.key" :type="field.type"
                                  :label="field.label"
                                  v-model="field.data"
                                  :errorMessages="field.error"
                                  outlined
                                  required>
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col cols="12" md="10">
                    <v-btn depressed block color="primary" large @click="register" :loading="loading" :disabled="loading">
                      {{ $t('register.register') }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-layout>
    <v-snackbar v-model="showMessage" :timeout="5000" top>
      {{ message }}
      <v-btn dark text @click="showMessage = false">
        {{ $t('common.close') }}
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
  import axios from 'axios';
  import config from "../config";
  import http from "../services/http";
  import utils from "../utils";

  export default {
    name: "Register",
    data() {
      return {
        fields: [
          {
            key: 'firstname',
            label: this.$t('common.firstname'),
            type: 'text',
            data: '',
            error: [],
            send: true
          },
          {
            key: 'lastname',
            label: this.$t('common.lastname'),
            type: 'text',
            data: '',
            error: [],
            send: true
          },
          {
            key: 'email',
            label: this.$t('common.email'),
            type: 'email',
            data: '',
            error: [],
            send: true
          },
          {
            key: 'password',
            label: this.$t('common.password'),
            type: 'password',
            data: '',
            error: [],
            send: true
          },
          {
            key: 'repeatPassword',
            label: this.$t('common.repeatPassword'),
            type: 'password',
            data: '',
            error: [],
            send: false
          },
          {
            key: 'inviteToken',
            label: this.$t('register.inviteToken'),
            type: 'text',
            data: '',
            error: [],
            send: true
          }
        ],
        message: null,
        showMessage: false,
        loading: false
      }
    },
    methods: {
      register() {
        if (this.validate()) {
          this.loading = true;
          let data = {};
          for (let field of this.fields) {
            if (field.send) {
              data[field.key] = field.data;
            }
          }
          axios.post(`${config.apiUrl}/auth/register`, data).then(response => {
            this.loading = false;
            http.afterLogin(response.data.token);
            this.$router.push('dashboard');
          }).catch(error => {
            this.loading = false;
            let status = error.response.status;
            if (status === 401) {
              let field = this.fields.find(f => f.key === 'inviteToken');
              field.error.push(this.$i18n.t('register.errors.invalidInviteToken'));
            } else if (status === 409) {
              let field = this.fields.find(f => f.key === 'email');
              field.error.push(this.$i18n.t('register.errors.emailAlreadyRegistered'));
            } else {
              this.message = this.$t('common.errors.unknown');
              this.showMessage = true;
            }
          });
        }
      },
      validate() {
        this.resetErrors();
        let valid = true;

        for (let field of this.fields) {
          if (field.data === '') {
            field.error.push(this.$t('common.errors.empty', {field: field.label}));
            valid = false;
          }
        }

        let password = this.fields.find(f => f.key === 'password');
        let repeat = this.fields.find(f => f.key === 'repeatPassword');

        if (!utils.isValidPassword(password.data)) {
          password.error.push(this.$t('common.errors.invalidPassword'));
          valid = false;
        }

        if (password.data !== repeat.data) {
          password.error.push('');
          repeat.error.push(this.$t('common.errors.passwordsDontMatch'));
          valid = false;
        }
        return valid;
      },
      resetErrors() {
        for (let field of this.fields) {
          field.error = [];
        }
      },
      gotoLogin() {
        this.$router.push({name: 'login'});
      }
    },
    created() {
      if (this.$route.query.invite_token) {
        this.fields.find(f => f.key === 'inviteToken').data = this.$route.query.invite_token;
      }
    }
  }
</script>

<style scoped>

</style>
