<template>
  <v-layout align-center>
    <v-container>
      <v-row justify="center">
        <v-col cols="12" sm="8">
          <v-card>
            <v-container>
              <v-card-title class="text-h3">
                <div class="flex text-h4 font-weight-thin text-center pt-6">
                  {{ $t('resetPassword.title') }}
                </div>
              </v-card-title>
              <v-card-text>
                <v-row justify="center" class="pt-4">
                  <v-col cols="12" sm="10">
                    <v-text-field type="password" v-model="password" :label="$t('common.password')" required outlined
                                  v-on:keyup.enter="resetPassword" :errorMessages="passwordErrors"/>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col cols="12" sm="10">
                    <v-text-field type="password" v-model="repeatPassword" :label="$t('common.repeatPassword')" required outlined
                                  v-on:keyup.enter="resetPassword" :errorMessages="repeatPasswordErrors"/>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col cols="12" sm="10">
                    <v-btn depressed block color="primary" large @click="resetPassword" :loading="loading" :disabled="loading">
                      {{ $t('common.save') }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-snackbar v-model="showMessage" :timeout="5000" top>
      {{ message }}
      <v-btn dark text @click="showMessage = false">
        {{ $t('common.close') }}
      </v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
  import http from "../services/http";
  import utils from "../utils";

  export default {
    name: "ResetPassword",
    data() {
      return {
        password: '',
        repeatPassword: '',
        passwordErrors: [],
        repeatPasswordErrors: [],
        token: null,
        loading: false,
        message: null,
        showMessage: false
      }
    },
    methods: {
      resetPassword() {
        if (this.validate()) {
          this.loading = true;
          http.axios.post('/auth/reset_password', {
            password: this.password,
            token: this.token
          }).then(response => {
            this.loading = false;
            http.afterLogin(response.data.token);
            this.$router.push("/dashboard");
          }).catch(() => {
            this.loading = false;
            this.message = this.$t('resetPassword.errors.invalidToken');
            this.showMessage = true;
          });
        }
      },
      resetErrors() {
        this.passwordErrors = [];
        this.repeatPasswordErrors = [];
      },
      validate() {
        this.resetErrors();
        let valid = true;

        if (this.password === '') {
          this.passwordErrors.push(this.$t('common.errors.empty', {field: this.$t('common.password')}));
          valid = false;
        }

        if (this.repeatPassword === '') {
          this.repeatPasswordErrors.push(this.$t('common.errors.empty', {field: this.$t('common.repeatPassword')}));
          valid = false;
        }

        if (this.password !== this.repeatPassword) {
          this.passwordErrors.push('');
          this.repeatPasswordErrors.push(this.$t('common.errors.passwordsDontMatch'));
          valid = false;
        }

        if (!utils.isValidPassword(this.password)) {
          this.passwordErrors.push(this.$t('common.errors.invalidPassword'));
          valid = false;
        }

        return valid;
      }
    },
    created() {
      this.token = this.$route.query.token;
      if (!this.token) {
        this.$router.push({name: 'login'});
      }
    }
  }
</script>

<style scoped>

</style>
