<template>
  <v-app v-show="preferences">
    <v-app-bar app class="px-10">
      <v-toolbar-title class="text-h5 text-uppercase" @click="navigate('dashboard')" style="cursor: pointer">
        <span>SSO</span>
        <!--<span class="font-weight-light">roelink.eu</span>-->
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="pr-6">
        <NotificationList/>
      </div>
      <v-menu transition="slide-y-transition" offset-y v-if="user" open-on-hover>
        <template v-slot:activator="{ on }">
          <v-avatar v-on="on" v-if="profilePicture" size="42">
            <v-img :src="profilePicture"></v-img>
          </v-avatar>
          <v-avatar color="primary" v-on="on" v-else size="42">
            <span class="white--text text-h6">{{ initials }}</span>
          </v-avatar>
        </template>
        <v-list>
          <v-list-item disabled>
            <v-list-item-title>{{ user.firstname + ' ' + user.lastname }}</v-list-item-title>
          </v-list-item>
          <v-divider class="mx-4"></v-divider>
          <v-list-item @click="navigate('dashboard')">
            <v-list-item-title>{{ $t('default.dashboard') }}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="navigate('account')">
            <v-list-item-title>{{ $t('default.account') }}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="navigate('admin')" v-if="user.role.name === 'admin'">
            <v-list-item-title>{{ $t('default.admin') }}</v-list-item-title>
          </v-list-item>
          <v-divider class="mx-4"></v-divider>
          <v-list-item @click="navigate('logout')">
            <v-list-item-title>{{ $t('default.logout') }}</v-list-item-title>
          </v-list-item>
          <v-divider class="mx-4"></v-divider>
          <v-row no-gutters>
            <v-col md="auto" v-for="locale in localeChoices" :key="locale.locale">
              <v-list-item @click="setLocale(locale.locale)">
                <flag :iso="locale.flag" :squared="false" />
              </v-list-item>
            </v-col>
          </v-row>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-main>
      <v-container>
        <router-view/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import {mapGetters} from "vuex";
  import NotificationList from "./NotificationList";

  export default {
    name: 'Default',
    components: {NotificationList},
    computed: {
      localeChoices() {
        return this.$store.getters.localesWithout(this.$i18n.locale);
      },
      ...mapGetters(['user', 'profilePicture', 'initials', 'preferences', 'notifications', 'domains'])
    },
    watch: {
      preferences(prefs) {
        this.$vuetify.theme.dark = prefs.darkMode;
        this.$i18n.locale = prefs.defaultLanguage;
      }, deep: true
    },
    methods: {
      navigate(route) {
        if (this.$route.name === route) return;

        this.$router.push(route);
      },
      setLocale(locale) {
        this.$i18n.locale = locale;
        localStorage.setItem("locale", locale);
      }
    },
    created() {
      this.$store.dispatch('fetchUser').then(() => this.$store.dispatch('fetchPreferences'));
      this.$store.dispatch('fetchDomains');
      this.$store.dispatch('fetchRoles');
      this.$store.dispatch('fetchNotifications');

      setInterval(() => this.$store.dispatch('fetchNotifications'), 10000);
    }
  };
</script>

<style scoped>

</style>
