<template>
  <v-app>
    <v-speed-dial absolute top right v-model="open" direction="bottom">
      <template v-slot:activator>
        <v-btn v-model="open" fab>
          <v-icon v-if="open">mdi-close</v-icon>
          <flag v-else :iso="flagOfLocale($i18n.locale)" style="font-size: 18px" :squared="false"/>
        </v-btn>
      </template>
      <v-btn fab small v-for="locale in localeChoices" :key="locale.locale" @click="setLocale(locale.locale)">
        <flag :iso="locale.flag" style="font-size: 14px" :squared="false"/>
      </v-btn>
    </v-speed-dial>
    <router-view/>
  </v-app>
</template>

<script>
  import {mapGetters} from "vuex";

  export default {
    name: "NoAuth",
    computed: {
      localeChoices() {
        return this.$store.getters.localesWithout(this.$i18n.locale);
      },
      ...mapGetters(['flagOfLocale'])
    },
    data() {
      return {
        open: false
      }
    },
    methods: {
      setLocale(locale) {
        this.$i18n.locale = locale;
      }
    },
    created() {
      this.$vuetify.theme.dark = false;
    }
  }
</script>

<style scoped>

</style>