<template>
  <div>
    <v-menu transition="slide-y-transition" offset-y open-on-click>
      <template v-slot:activator="{ on }">
        <v-badge overlap :value="unreadNotifications.length > 0">
          <template v-slot:badge>{{ unreadNotifications.length }}</template>
          <v-icon v-on="on" medium>mdi-email</v-icon>
        </v-badge>
      </template>
      <v-list class="overflow-y-auto" style="max-height: 65vh">
        <v-list-item v-if="notifications.length === 0">
          <v-list-item-content>
            <v-list-item-title>{{ $t('default.noNotifications') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <template v-for="(notification, index) in notifications">
          <v-list-item :key="notification.id" :input-value="!notification.read" color="primary">
            <v-list-item-content @click="setSelectedNotification(notification)" style="cursor: pointer">
              <v-subheader class="pl-0">
                {{ notification.createdAt | moment("DD MMMM YYYY HH:mm") }}
                <br>{{ notification.domain.name }}
              </v-subheader>
              <v-list-item-title>
                <span v-if="!notification.read">
                  <v-icon color="primary">mdi-alert-circle-outline</v-icon>&nbsp;
                </span>
                <span class="font-weight-bold">{{ notification.title }}</span>
              </v-list-item-title>
              <p>{{ notification.content }}</p>
            </v-list-item-content>
            <v-list-item-action @click.stop="">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on" @click="setRead(notification, !notification.read)">
                    <v-icon v-if="notification.read">mdi-email</v-icon>
                    <v-icon v-else>mdi-email-open</v-icon>
                  </v-btn>
                </template>
                <span v-if="notification.read">{{ $t('default.markAsUnread') }}</span>
                <span v-else>{{ $t('default.markAsRead') }}</span>
              </v-tooltip>
            </v-list-item-action>
            <v-list-item-action @click.stop="">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on" @click="deleteNotification(notification)">
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                </template>
                <span>{{ $t('default.deleteNotification') }}</span>
              </v-tooltip>
            </v-list-item-action>
          </v-list-item>
          <v-divider v-if="index < notifications.length - 1" :key="index"></v-divider>
        </template>
      </v-list>
    </v-menu>
    <v-dialog v-model="showDialog" width="500">
      <v-card outlined v-if="selectedNotification">
        <v-card-title class="align-end fill-height">
          <span class="title font-weight-bold">{{ selectedNotification.title }}</span>
          <v-spacer></v-spacer>
          <v-icon @click="showDialog = false">mdi-close</v-icon>
        </v-card-title>
        <v-card-text>
          {{ selectedNotification.content }}
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import http from "../services/http";
  import {mapGetters} from "vuex";

  export default {
    name: "NotificationList",
    data() {
      return {
        showDialog: false,
        selectedNotification: null
      }
    },
    computed: {
      unreadNotifications() {
        return this.notifications.filter(n => !n.read);
      },
      ...mapGetters(['notifications', 'domains'])
    },
    methods: {
      setSelectedNotification(notification) {
        this.selectedNotification = notification;
        this.showDialog = true;
        this.setRead(notification, true);
      },
      setRead(notification, read) {
        http.axios.put(`/notifications/${notification.id}`, {
          read: read
        }).then(response => {
          this.notifications.splice(this.notifications.indexOf(notification), 1, response.data)
          this.$store.commit('setNotifications', this.notifications);
        });
      },
      deleteNotification(notification) {
        http.axios.delete(`/notifications/${notification.id}`).then(() => {
          this.$store.commit('setNotifications', this.notifications.filter(n => n.id !== notification.id));
        });
      }
    }
  }
</script>

<style scoped>

</style>